<h3>Stylists Available: </h3>
<hr>
#foreach ($stylist in $stylists)
  <p><a href="stylist/$stylist.getId()">$stylist.getName()</a></p>
#end
<hr>
<a href="/stylists/new">Add a Stylist</a> ||
<a href="/clients/new">Add a client</a>
<br>
<a href="/deleteStylists">Delete Stylists</a> ||
<a href="/deleteClients">Delete Clients</a> 
