
<hr>
<h3>Enter new Client info: </h3>
<br>
<form action="/clients/new-client" method="post">
  <label for="name">Enter Name: </label>
  <input type="text" name="name" value="">
  <br><br>
  <label for="stylist">Choose your Stylist</label>
  <select name="stylist">
    #foreach($stylist in $stylists)
    <option value="$stylist.getId()">$stylist.getName()</option>
    #end
  </select>
  <br>
  <br>
  <button type="submit" name="button">Add Client</button>
</form>
<br>
<hr>
