<h3>$stylist.getName()</h3>
<hr>
<ul>
#foreach($client in $clients)
  <li><a href="/client/$client.getId()">$client.getName()</a></li>
#end
</ul>
<hr>
<p><a href="$stylist.getId()/clients/new">Add client to stylist</a> ||
<a href="$stylist.getId()/update-stylist-info">Update Stylist information</a>
<br>
<br>
