<h3>$stylist.getName()</h3>
<hr>
#if($clients)
  <ul>
  #foreach($client in $clients)
    <li>$client.getName()</li>
  #end
  </ul>
#else
  <p>$stylist.getName() has no clients at this time</p>
#end
<hr>
<p><a href="clients/new">Add client</a> || <a href="/">Back to Stylists</a>
<br>
<br>
